.abc{
  
        position: relative;
        bottom: 23px;
        left: 440px;
        width: 150px;
        height: 36px;
        border: 1px solid #111111;
        background-color:#fcfafa ;
        border-radius: 1px;
        font-weight: 650;
        color: rgb(15, 15, 15);
        font: normal normal medium 14px/19px Roboto;
}

.def{
  
    position: relative;
    bottom: 23px;
    left: 465px;
    width: 150px;
    height: 36px;
    border: 1px solid #111111;
    background-color :#4EA0A2 ; 
            font-weight: 650;
    border-radius: 1px;
    color: rgb(250, 246, 246);
    font: normal normal medium 14px/19px Roboto;
}
