#editborder{

    top: 205px;

    left: 36px;

    width: 276px;

    height: 695px;

    /* UI Properties */

    background: #EFEFEF 0% 0% no-repeat padding-box;

    border: 0.5px solid #BDC7C9;

    opacity: 1;

    position: absolute;

}

#editsearchbox{

    /* Layout Properties */

    top: 200px;

    left: 10px;

    width: 235px;

    height: 36px;

    /* UI Properties */

    background: #FFFFFF 0% 0% no-repeat padding-box;

    border: 1px solid #939598;

    border-radius: 2px;

    opacity: 1;

    position: absolute;

}

#edittextbox{

    /* Layout Properties */

    top: 270px;

    left: 37px;

    width: 276px;

    height: 60px;

    /* UI Properties */

    text-align: left;

    font: normal normal medium 16px/21px Roboto;

    letter-spacing: 0.53px;

    color: #444444;

    opacity: 1;

    position: absolute;

}


#edittext{

    top: 100px;

    left: 5px;

    position: relative;

}

#edittextfield{

    padding: 20px;

    font: normal normal medium 16px/21px Roboto;

    width: 150px;

    color: black;

}

a{

    text-decoration: none;

    color: black;

    padding: 18px;

    size: 10px;

}

a:hover{

    background-color:rgb(245, 245, 248);

    color: black;

}


#h1{

    text-align: left;
    font-size: medium;
    left: 50%;

}