.navbar{

    position: relative;
    height: 40px;
}

.NavDropdown.Item{
    font: normal normal normal 16px/28px Roboto;
letter-spacing: 0px;
color: #e22828;
opacity: 1;
}

.title{
    width: 100px;
}
.me-auto{
    color: #e22828;

}